:root {
    --black: #212121;
    --background-color: #E5E5E5;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --font-family: 'Montserrat', sans-serif;
    --font-style: 'Regular'

    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
    --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
/* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
    /* Custom pairs */
    --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
}

body{
    position: relative;
    z-index: 0;
    top: 0;
    right: 0;
    background-color: #F5F7FA;
    font-family: var(--font-family), sans-serif;
}

/* right-section styles */

.right-section {
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    padding-left: 90px;
    background-color: #fff;
    box-shadow: 6px 6px 20px 0px #0000001a;
    padding-right: 220px;
    border-radius: 5px;
    width: 1200px;
    height: 1319px;
    flex-shrink: 0;
}

.about-me-profession {
    font-family: var(--font-family);
    font-style: Bold;
    Line-height: 17px;
    Line-height: 100%;
    font-size: 14px;
    color: black;
    margin-top: 100px;
    padding-left: 503px;
}

.about-me-name {
    font-family: var(--font-family);
    font-style: Bold;
    font-size: 45px;
    Line-height: 55px;
    Line-height: 100%;
    margin-top: 30px;
    padding-left: 503px;
}

.about-description { 
    color: #595959;
    text-shadow: 0px 4px 4px #00000040;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.padding-description {
    padding-left: 503px;
}

.main-section {
    display: flex;
    flex-direction: row-reverse;
    width: 1280px;
    height: 1399px;
    margin: 40px auto;
}

.about-me-section {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}

.projects-sections {
    margin: 40px 0 0 0;
    padding-left: 503px;
}

.education {
    padding-left: 503px;
}

.block-title {
    Font-family: var(--font-family);
    Font-style: Bold;
    Font-size: 22px;
    Line-height: 27px;
    Line-height: 100%;
}

.about-address {
    Font-family: var(--font-family);
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 24px;
    Line-height: 141%;
}

.bracket {
    Font-family: var(--font-family);
    Font-style: Mixed;
    Font-size: 14px;
    Line-height: 24px;
    Line-height: 141%;
    font-weight: 700;
    color: #000;
}

.projects-item {
    Font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    Font-size: 14px;
    Line-height: 24px;
    text-decoration-line: underline;
    color: #595959;
    margin-left: 10px;
}

.projects-section {
    padding-left: 503px;
}

.projects-sections ol {
    padding-left: 17px;
}

.projects-item a {
    color: #595959;
}

ol li {
    font-weight: 700;
}

.about-construction {
    Font-family: var(--font-family);
    Font-style: normal;
    font-weight: 700;
    Font-size: 16px;
    Line-height: 20px;
    Line-height: 100%;
}

.about-date {
    Font-family: var(--font-family);
    Font-style: Regular;
    Font-size: 12px;
    Line-height: 15px;
    line-height: 100%;
}

.work-experience-company {
    color: #FB6D3A;
}

/* sidebar styles */

.sidebar-section {
    position: fixed;
    z-index: 2;
    right: 1125px;
    top: 28px;
    background-color: #1E2939;
    width: 370px;
    height: 1319px;
    flex-shrink: 0;
    margin-left: 58px;
    margin-top: 28px;
    border-radius: 5px;
}

.sidebar-section img {
    margin-top: 35px;
}

.image {
    margin: 0 auto;
    width: 190px;
    height: 300px;
    border: 2px solid #627089;
    border-radius: 20%;
    object-fit: cover;
    display: block;
}

.sidebar-image {
    border-radius: 20px;
    margin: 5px;
}

.Sidebar-title {
    font-size: 22px;
    line-height: 27px;
    font-style: normal;
    color: #FFFFFF;
}

.contacts-section {
    padding-left: 40px;
}

.tech-skills-section {
    padding-left: 40px;
}

.soft-skills-section {
    padding-left: 40px;
}

.contacts-section-type, .contacts-section-type {
    font-style: normal;
    margin-right: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.contacts-section-value {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #627089;
}

.Sidebar-list {
    color: #fb6d3a;
    padding-left: 20px;
}

.Sidebar-list span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

/* Find us on */

.link-footer {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.link-footer > h2 {
    font-size: 22px;
    line-height: 27px;
    font-style: normal;
    color: #FFFFFF;
}

.icon-find {
    display: flex;
    gap: 10px;
    width: 98px;
    height: 44px;
    padding-inline-start: 0px;
}

.icons-footer {
    display: flex;
    width: 44px;
    height: 44px;
}

.icons-footer .icon-social-footer {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: #627089;
    color: #212121;
    transition: var(--transition);
}

.icon-social-footer > svg {
    width: 20px;
    height: 20px;
    margin: 12px;
}

.icons-footer .icon-social-footer:hover,
.icons-footer .icon-social-footer:focus {
    background-color: #fff;
    color: #fb6d3a;
}